# Node & Next.js
node_modules/
.next/
out/
dist/
.env
.env.local

# OS junk
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python or data
data/*.gpkg

# Python
__pycache__/
*.pyc
.venv/
venv/
outputs/

# Large log files
*.log
apps/workflow-py/archive/*.log
apps/workflow-py/archive/*.txt
apps/workflow-py/archive/parameter_tuning_results*/
